@font-face {
    src: url("fonts/gillsansnovashadowed_outln.ttf") format("truetype");
        font-family: 'Movement';
        font-style: normal;
        font-weight: normal;
        }
    
    body{
    background-image: url("assets/red-black-gradient.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Movement';
}
/* how the page wrapper will appear on mobile */
@media only screen and (max-width:800px){
    body{
        background-image: url("assets/logofavicon.svg");
      
    }
    }
/* how the page wrapper appears on desktop */


@media only screen and (min-width:800px){
.page-wrapper{
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "h a"
    "v v";
}
/* .logo{
    color: rgb(40, 24, 75);
    font-size: 50px;
    font-variation-settings: "wght" 500, "SPAC" 120;
} */

.hero{
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 100px;
    padding-top: 0px;
    padding-bottom: 50px;
    height: 400px;
    width:100%;
}

#history {
grid-area: h;
background-color: rgb(183,31,47);
margin-left: 30px;
margin-right: 50px;
margin-bottom: 20px;
padding-bottom: 10px;
padding-top: 10px;
}
.history-paragraph{
    font-family: "Lato", sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(181, 181, 181);
    font-size: 22px;
}
.history-h4{
    padding-left: 7px;
    color: rgb(181,181,181);
    font-size: 25px;
}
.history-h1{
    padding-left: 7px;
    color: rgb(71, 55, 123);
}

.business-card{
    width: 450px;
    height: auto;
    margin: 20px auto;
    display: block;
}

#alphabet {
grid-area: a;
background-color: rgb(183,31,47);
margin-left: 50px;
margin-right: 90px;
margin-bottom: 20px;
padding-bottom: 10px;
padding-top: 10px;
}
.alphabet-h2{
    padding-left: 10px;
    color: rgb(181, 181, 181);
    
}
.alphabet-paragraph-1{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 30px;
    color: rgb(181, 181, 181);
    font-family: Lato, sans-serif;
}
}
.kingart{
    width: 750px;
    height: auto;
    margin: 20px auto;
    display: block;
}
/* variation-header */

#variations{
    grid-area: v;
    }

h2{
    /* color: rgb(196, 39, 144); */
    color: rgb(123 18 38);;
    font-size: 50px;
    font-family: "Movement";
}

h3{
    font-weight:20; 
    text-align: center;
    font-size: 100px;
    animation: weightChange 3s infinite;
}


h6{
    font-weight:20; 
    text-align: center;
    font-size: 50px;
    font-family: "Lato", sans-serif;
    line-height: 10px;
}



.lato-text{
    font-family: "Lato", sans-serif;
    font-size: 70px;
    color: rgb(7, 81, 68);

}
/* variable font that changes on hover */
/* .variable-font{
    font-weight:1 ;
    height:100vh;
    font-size: 10em;
    display:grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "wght" 40, "wdth" 0, "XXXX" 1;
    transition: 
        font-weight 500ms,
        font-variation-settings 3s;
} */



/* .footer-button{
    display: inline-block;
    position: relative;
    text-decoration: none;
    overflow: hidden;
    background-color: rgb(7, 56, 47);
    color: rgb(235, 80, 156);
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    font-size: 20px;
    font-family: "Movement";
    border-radius: 25px;
    box-shadow:  5px 5px 5px rgba(0, 0, 0, 0.5);

}
.footer-button::before{
    content: '';
    position: absolute;
    background-color: rgba(105, 198, 181, 0.5);
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    transition: left 0.4s;

}
.footer-button:hover::before{
    left: 0;
}

.footer-button:hover{
    background-color: rgb(7, 56, 47);
} */

/* CSS for the footer */
footer{
    background-color: rgb(153 152 151);
    height: 175px;
}
.footer-paragraph{
    font-family: "Movement";
    padding-left: 20px;
    padding-right: 10px;
    /* padding-bottom: 5px; */
    color:  rgb(123 18 38);
    font-size: 20px;}

    .instagram-hover{
        position: relative;
        color: rgb(123 18 38);
        transition: color 0.3s;
        padding-left: 20px;
        padding-bottom: 20px;
    }

    .instagram-hover::before{
        content: '';
        position: absolute;
        width: 86%;
        height: 3px;
        bottom: 24px;
        left: 20px;
        background-color:  rgb(157, 24, 48);
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out 0s;

    }

    .instagram-hover:hover::before{
        visibility: visible;
        transform: scaleX(1);
    }

    /* this is styling for graphic-desing.html */
    .business-card-1{
        width: 450px;
        height: auto;
        margin: 20px auto;
        display: block;
    }
    .business-card-2{
        width: 450px;
        height: auto;
        margin: 20px auto;
        display: block;
    }
    .history-graphic-design{
        grid-area: h;
        background-color: rgb(183,31,47);
        margin-left: 30px;
        margin-right: 50px;
        margin-bottom: 20px;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .dog-photo{
        width: 550px;
        height: auto;
        margin: 20px auto;
        display: block;
    }
    .biography-h2{
        padding-left: 10px;
        color: rgb(181, 181, 181);
        font-size: 30px;
    }

    .biography-paragraph{
        padding-left: 10px;
        padding-right: 10px;
        font-size: 20px;
        color: rgb(181, 181, 181);
        font-family: Lato, sans-serif;
        line-height: 30px;
    }